.slideout {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #f8f9fa;
    z-index: 9999;
    transition: right 0.5s ease-in-out;
}

.slideout.active {
    right: 0;
}

.slideout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
}

.slideout-body {
    padding: 10px;
}

.scrollable-checkboxes {
    max-height: 200px;
    overflow-y: auto;
}
